@use '../color' as *;
@use '../media' as res;

.layout-wrap {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	
	// YUDI
	// grid-template: 1fr / 60px 1fr;
	grid-template: 1fr/156px 1fr;
	// END YUDI

	grid-template-areas: 'sidebar main';
	background: $background;
	overflow: auto;
	scrollbar-width: none;
	column-gap: 1px;
	transition: grid-template 0.5s;

	// YUDI
	&.hidden-menu{
		display: block;

		.layout-side{
			left: -156px;

			@media screen and (max-width: 1023px) {
				left: -100%;
			}
		}

		.layout-main {
			width: 100% !important;
		}
	}

	@include res.media(tablet) {
		grid-template: 1fr auto / 1fr;
		grid-template-areas:
			'main'
			'sidebar';
	}

	

	.layout-side {
		grid-area: sidebar;
		position: fixed;
		height: 100%;
		width: auto;
		background: #112143;
		left: 0;
		padding: 0 12px;
		box-shadow: 0 4px 12px 0 rgba(131, 146, 165, 0.15);
  	border-right: 1px solid rgba(224, 225, 235, 0.85);
		z-index: 1;
		transition: left 0.5s;

		@include res.media(tablet) {
			z-index: 999;
			bottom: 0;
			height: auto;
			width: 100%;
			padding: 0;
			border-radius: 12px 12px 0 0;
			filter: drop-shadow(0 9px 12px rgba($color: color(blue, base), $alpha: 0.5));
		}

		// YUDI
		@media screen and (max-width: 1023px) {
			height: 100vh;
			background-color: transparent;
			box-shadow: unset;
			filter: unset;
			border: none;
			border-radius: 0;
			border-radius: 0;
			z-index: 99;
		}
	}

	.layout-main {
		grid-area: main;
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template: auto 1fr / 1fr;
		grid-template-areas:
			'header'
			'content';
		row-gap: 2px;
		border-top: 5px solid #00bdc2;
		&.command-content {
			width: 100%;
			gap: 0;

			.main-content {
				// background: $background;
				background-color: #00d4ff !important;
				background: rgb(2,0,36);
				background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 30%, rgba(0,189,194,1) 100%);
				background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 30%, rgba(0,189,194,1) 100%);
				background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 30%, rgba(0,189,194,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00bdc2",GradientType=1);	

			}
		}

		.main-head {
			grid-area: header;
			position: sticky;
			top: 0;
			padding: 12px;
			background: $white;
		}

		.main-content {
			grid-area: content;
			height: 100%;
			padding: 12px;
			overflow: auto;
			// background: $white;
			
			background-color: #00d4ff !important;
			background: rgb(2,0,36);
			background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 30%, rgba(0,189,194,1) 100%);
			background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 30%, rgba(0,189,194,1) 100%);
			background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 30%, rgba(0,189,194,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00bdc2",GradientType=1);

			@include res.media(tablet) {
				padding: 10px 10px 60px;
			}

			@media screen and (max-width: 320px) {
				padding: 10px 10px 110px;
			}

			// YUDI
			
			:global{
				.ant-tabs-tab{
					.ant-tabs-tab-btn{
						color: #ffffff;
					}
				}

				.ant-tabs-tab-active{
					background-color: #3192a3;
					.ant-tabs-tab-btn{
						color: #ffffff;
					}
				}

			}
			
		}
	}
	// YUDI
	
	:global{
		.ant-card{
			padding: 0;
			color: #fff;
			background-color: #3ebbc2;
		}

		.apexcharts-text tspan{
			color: #fff;
		}

		text{
			color: #fff;

		}
	}

}