$font-min-width: 425;
$font-max-width: 1440;

$min-font-h1: 32;
$max-font-h1: 64;
$min-font-h2: 30;
$max-font-h2: 50;
$min-font-h3: 28;
$max-font-h3: 35;
$min-font-h4: 21;
$max-font-h4: 28;
$min-font-h5: 16;
$max-font-h5: 21;
$min-font-h6: 14;
$max-font-h6: 16;
$min-font-body: 14;
$max-font-body: 16;

$fonts: (
	sizes: (
		h1: (
			min: $min-font-h1,
			max: $max-font-h1,
		),
		h2: (
			min: $min-font-h2,
			max: $max-font-h2,
		),
		h3: (
			min: $min-font-h3,
			max: $max-font-h3,
		),
		h4: (
			min: $min-font-h4,
			max: $max-font-h4,
		),
		h5: (
			min: $min-font-h5,
			max: $max-font-h5,
		),
		h6: (
			min: $min-font-h6,
			max: $max-font-h6,
		),
		body: (
			min: $min-font-body,
			max: $max-font-body,
		),
	),
);

@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i));
		}
		@return map-fetch($value, $rest);
	} @else {
		@return $value;
	}
}

@each $size in map-keys(map-get($fonts, sizes)) {
	#{$size} {
		font-size: #{map-fetch($fonts, sizes $size min)}px;
	}
	@media (min-width: #{$font-min-width}px) and (max-width: #{$font-max-width}px) {
		#{$size} {
			font-size: calc(
				#{map-fetch($fonts, sizes $size min)}px +
					(#{map-fetch($fonts, sizes $size max)} - #{map-fetch($fonts, sizes $size min)}) *
					((100vw - #{$font-min-width}px) / (#{$font-max-width} - #{$font-min-width}))
			);
		}
	}
	@media (min-width: #{$font-max-width}px) {
		#{$size} {
			font-size: #{map-fetch($fonts, sizes $size max)}px;
		}
	}
}
